.app-header {
  background-color: cornflowerblue;
  text-align: center;
  padding: 1em 0 1em 0;
  margin: 0;
}

.bookshelf {
  margin: 0 0 1em 0;
  border-bottom: solid 1px cornflowerblue;
}

.bookshelf-heading {
  margin: 0 0 0 1em;
  color: cornflowerblue;
}

.book-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.book-item {
  margin: 1em 1em 1em 1em;
}

.custom-select {
  background-color: royalblue;
  width: 5em;
  position: relative;
  bottom: 1.5em;
  left: 4.5em;
  z-index: 1001;
}
